@model ProVendas.APP.Models.FornecedorViewModel

<h4>Contato</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="Contato.Ds_Telefone" class="control-label fw-bold"></label>
                <input asp-for="Contato.Ds_Telefone" class="form-control" />
                <span asp-validation-for="Contato.Ds_Telefone" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Contato.Ds_Celular" class="control-label fw-bold"></label>
                <input asp-for="Contato.Ds_Celular" class="form-control" required/>
                <span asp-validation-for="Contato.Ds_Celular" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Contato.Ds_Email" class="control-label fw-bold"></label>
                <input asp-for="Contato.Ds_Email" class="form-control" />
                <span asp-validation-for="Contato.Ds_Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Contato.Ds_Site" class="control-label fw-bold"></label>
                <input asp-for="Contato.Ds_Site" class="form-control" />
                <span asp-validation-for="Contato.Ds_Site" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

