@model ProVendas.APP.Models.FornecedorViewModel

@{
    ViewData["Title"] = "Fornecedor";
}

<h4 class="py-4">
    <i class="fa-solid fa-pen-to-square"></i>
    Atualizar @ViewData["Title"]
</h4>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" role="button" asp-action="Index">
        <i class="fa-solid fa-arrow-left"></i>
        Voltar para lista
    </a>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit"class="needs-validation" novalidate>
            <div class="row g-3">
                    <input asp-for="Id_Fornecedor" class="form-control" type="hidden" />
                <div class="col-md-6">
                    <label asp-for="Ds_Fornecedor" class="control-label fw-bold"></label>
                    <input asp-for="Ds_Fornecedor" class="form-control" required/>
                    <span asp-validation-for="Ds_Fornecedor" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="TipoPessoa.Id_TipoPessoa" class="control-label fw-bold"></label>
                    <select asp-for="TipoPessoa.Id_TipoPessoa" class="form-select"
                            asp-items="@(new SelectList(ViewBag.tipoPessoa, "Id_TipoPessoa","Ds_TipoPessoa"))" required>
                        <option value="">Selecione...</option>
                    </select>
                    <span asp-validation-for="TipoPessoa.Id_TipoPessoa" class="text-danger"></span>
                </div>     
                
                <div class="col-md-6">
                    <label asp-for="PessoaDocumento.Ds_Documento" class="control-label fw-bold"></label>
                    <input asp-for="PessoaDocumento.Ds_Documento" class="form-control" required/>
                    <span asp-validation-for="PessoaDocumento.Ds_Documento" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="PessoaDocumento.Ds_InscricaoEstadual" class="control-label fw-bold"></label>
                    <input asp-for="PessoaDocumento.Ds_InscricaoEstadual" class="form-control" required />
                    <span asp-validation-for="PessoaDocumento.Ds_InscricaoEstadual" class="text-danger"></span>
                </div>

                <div class="col-md-3 py-4">
                    <input type="checkbox" class="form-check-input" asp-for="Tp_Cliente" value="true">
                    <label asp-for="Tp_Cliente" class="form-labe fw-bold"></label>
                </div>

                <div class="form-group">
                   <partial name="_EditEndereco" />
                </div>
                <div class="form-group">
                   <partial name="_EditContato" />
                </div>
                <button class="w-100 btn btn-success btn-lg" type="submit" value="Save">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
