@model ProVendas.APP.Models.ClienteViewModel

<h4>Endereco</h4>
<hr />
<div class="row">
    <div class="col-md-12">  
        <div class="row g-3">

            <div class="col-md-4">
                <label asp-for="Endereco.Ds_Cep" class="control-label fw-bold"></label>
                <input asp-for="Endereco.Ds_Cep" id="cep" onblur="pesquisacep(this.value);" class="form-control" required />
                <span asp-validation-for="Endereco.Ds_Cep" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Endereco.Ds_Logradouro" class="control-label fw-bold"></label>
                <input asp-for="Endereco.Ds_Logradouro" id="rua" class="form-control" required />
                <span asp-validation-for="Endereco.Ds_Logradouro" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Endereco.Ds_Numero" class="control-label fw-bold"></label>
                <input asp-for="Endereco.Ds_Numero" class="form-control"  required/>
                <span asp-validation-for="Endereco.Ds_Numero" class="text-danger"></span>
            </div>
                        
            <div class="col-md-4">
                <label asp-for="Endereco.Ds_Bairro" class="control-label fw-bold"></label>
                <input asp-for="Endereco.Ds_Bairro" id="bairro" class="form-control" required />
                <span asp-validation-for="Endereco.Ds_Bairro" class="text-danger"></span>
            </div>
            
            <div class="col-md-4">
                <label asp-for="Endereco.Cidade.Ds_Cidade" class="control-label fw-bold"></label>
                <input asp-for="Endereco.Cidade.Ds_Cidade" id="cidade" class="form-control" id="cep" required />
                <span asp-validation-for="Endereco.Cidade.Ds_Cidade" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Endereco.Cidade.Estado.Cd_Estado" class="control-label fw-bold"></label>
                <input asp-for="Endereco.Cidade.Estado.Cd_Estado" id="uf" class="form-control" id="cep" required />
                <span asp-validation-for="Endereco.Cidade.Estado.Cd_Estado" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Endereco.Ds_Complemento" class="control-label fw-bold"></label>
                <textarea asp-for="Endereco.Ds_Complemento" class="form-control"></textarea>
                <span asp-validation-for="Endereco.Ds_Complemento" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
